[Unit]
Description=Start Tmux session for violetdeck
#After=network.target

[Service]
Type=forking
User=violet
Group=violet
Restart=no
ExecStart=/home/violet/git/violet/hw/streamdeck/violet_streamdeck/systemd/tmux_start.sh

[Install]
WantedBy=graphical.target
#WantedBy=multi-user.target
